.renk{
    color: brown;


    text-align: right;
    text-align: center;
    text-align: left;
    text-align: justify;

    line-height: 25px;
    letter-spacing: 5px;

}

a{
    text-decoration: none;
    color: #f00;
}

.trans{
    text-transform: lowercase;
    text-transform:uppercase;
    text-transform: capitalize;
    text-indent: 50px;
    word-spacing: 25px;
    
}